
.gap-20 {
    background: #b6d6d9;
    width:100%;
    height:20px;
}
.gap-30 {
    width:100%;
    height:30px;
}
.gap-40 {
    width:100%;
    height:40px;
}
.gap-60 {
    width:100%;
    height:60px;
}
.content {
    background: Gainsboro;
}
.total_row {
    font-weight: bold;
}
#chart div
{
    display: inline-block;
}

ul {
    background: #b6d6d9;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
li {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    font-size: 18px
}

ul :hover{
    color: #023FFF;
}
a:link { text-decoration: none; }
li:visited { text-decoration: none; }


#brute_dividend_table, #dividend_history_table, #trade_history_table, #trade_table, #portfolio_table, #portfolio_summary{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#portfolio_table td, #portfolio_table th, #portfolio_summary th, #portfolio_summary td, #brute_dividend_table td, #dividend_history_table td, #portfolio_table th, #brute_dividend_table th, #dividend_history_table th, #trade_history_table th, #trade_table th, #trade_history_table td, #trade_table td {
  border: 1px solid #ddd;
  padding: 8px;
}

#brute_dividend_table tr:nth-child(even){background-color: #b6d6d9;}
#dividend_history_table tr:nth-child(even){background-color: #b6d6d9;}
#brute_dividend_table tr:nth-child(odd){background-color: FloralWhite;}
#dividend_history_table tr:nth-child(odd){background-color: FloralWhite;}

#trade_history_table tr:nth-child(even){background-color: #b6d6d9;}
#trade_table tr:nth-child(even){background-color: #b6d6d9;}
#trade_history_table tr:nth-child(odd){background-color: FloralWhite;}
#trade_table tr:nth-child(odd){background-color: FloralWhite;}

#portfolio_table tr:nth-child(even){background-color: #b6d6d9;}
#portfolio_table tr:nth-child(odd){background-color: FloralWhite;}
#portfolio_summary tr:nth-child(even){background-color: #b6d6d9;}

#brute_dividend_table tr:hover {background-color: #ddd;}
#dividend_history_table tr:hover {background-color: #ddd;}
#trade_table tr:hover {background-color: #ddd;}
#trade_history_table tr:hover {background-color: #ddd;}
#portfolio_table tr:hover {background-color: #ddd;}
#portfolio_summary tr:hover {background-color: #ddd;}


#brute_dividend_table th, #dividend_history_table th, #trade_table th, #trade_history_table th, #portfolio_table th, #portfolio_summary th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #36304a;
  color: white;
}