<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trades</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {
        'packages':['geochart', 'corechart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      google.charts.setOnLoadCallback(drawChart);

      // ---------- load countries data -------------
      var countryData = /*[[${listOfCountries}]]*/
        var mainCountryData = [];
        var data2 = ['Country', 'Value'];
        mainCountryData.push(data2);
     for (i = 0; i < countryData.length; i++) {
        mainCountryData.push([countryData[i][0], countryData[i][1]]);
     }

        // ---------------- draw geo chart -----------------
      function drawRegionsMap() {
        var finalCountryData = google.visualization.arrayToDataTable(mainCountryData);
        var countryOptions = {
        colors: ['#C5E8B7','#2EB62C'],
          backgroundColor: '#DCDCDC',
         chartArea:{
            backgroundColor: '#DCDCDC'
        }
        };
        var countryChart = new google.visualization.GeoChart(document.getElementById('country_chart'));

        countryChart.draw(finalCountryData, countryOptions);
      }



      // ---------- load currency data -------------
      var currencyData = /*[[${listOfCurrencies}]]*/
        var mainCurrencyData = [];
        var currencyHeaderData = ['Currency', 'Value'];
        mainCurrencyData.push(currencyHeaderData);
     for (i = 0; i < currencyData.length; i++) {
        mainCurrencyData.push([currencyData[i][0], currencyData[i][1]]);
     }


      // ---------------- draw pie  chart -----------------
      function drawChart() {
        var finalCurrencyData = google.visualization.arrayToDataTable(mainCurrencyData);

        var currencyOptions = {
          is3D: true,
          backgroundColor: '#DCDCDC',
         chartArea:{
            width: 400,
            height: 400,
            backgroundColor: '#DCDCDC'
        }
        };

        var currencyChart = new google.visualization.PieChart(document.getElementById('currency_chart'));

        currencyChart.draw(finalCurrencyData, currencyOptions);
        }

    </script>
</head>
<body>
<div class="main">
    <div class="navbar">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="http://localhost:8088/portfolio-html">Portfolio</a></li>
                    <li><a href="http://localhost:8088/trades-html">Trades</a></li>
                    <li><a href="http://localhost:8088/dividends-html">Dividends</a></li>
                    <li><a href="http://localhost:8088/currency-html">Currency</a></li>
                    <li><a href="http://localhost:8088/trends-html">Trends</a></li>
                    <li><a href="#seccion-6">Crypto</a></li>
                </ul>
            </nav>
            <div class="gap-20"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="gap-60"></div>
    <div class="gap-40"></div>
    <table id="currency_summary">
        <tr>
            <th> Currency</th>
            <th> My ratio</th>
            <th> Market Ratio</th>
            <th> W/L %</th>
        </tr>
        <div>
            <tr>
                <td th:text="USD"></td>
                <td th:text="${myUsdRatio}"></td>
                <td th:text="${currentUsdRatio}"></td>
                <td th:style="${100 * (currentUsdRatio - myUsdRatio) / currentUsdRatio > 0 ? 'color: green;' : 'color: red;'}" th:text="${#numbers.formatDecimal((100 * (currentUsdRatio - myUsdRatio) / currentUsdRatio), 0, 2, 'POINT') + ' %'}"></td>
            </tr>
            <tr>
                <td th:text="GBP"></td>
                <td th:text="${myGbpRatio}"></td>
                <td th:text="${currentGbpRatio}"></td>
                <td th:style="${100 * (currentGbpRatio - myGbpRatio) / currentGbpRatio > 0 ? 'color: green;' : 'color: red;'}" th:text="${#numbers.formatDecimal((100 * (currentGbpRatio - myGbpRatio) / currentGbpRatio), 0, 2, 'POINT') + ' %'}"></td>
            </tr>
        </div>
    </table>
    <div id="chart">
        <div class="gap-20-no-color"></div>
        <div>
            <table id="currency_table">
            <tr>
                <th> Nr</th>
                <th> Amount</th>
                <th> Rate</th>
                <th> Target Amount</th>
                <th> Fee</th>
                <th> Date</th>
                <th> Currency</th>
            </tr>
            <tr th:each="item : ${currencies}">
                <td th:text="${item.nr}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="${item.rate}"></td>
                <td th:text="${#numbers.formatDecimal(item.targetAmount, 0, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${item.fee}"></td>
                <td th:text="${item.date}"></td>
                <td th:text="${item.targetCurrency}"></td>
            </tr>
        </table>
        </div>
        <div style="width:30px; border: none;"></div>
        <div style="display: inline-block; vertical-align: top">
            <div id="country_chart" style="width: 600px; height: 450px;"></div>

            <div id="currency_chart" style="width: 600px; height: 400px;"></div>
        </div>

    </div>
    <div class="gap-60"></div>
    <div class="gap-40"></div>
</div>


</body>
</html>