<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trades</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      var countryData = /*[[${listOfCountries}]]*/

        var mainData = [];
        var data2 = ['A', 'B'];
        mainData.push(data2);
     for (i = 0; i < countryData.length; i++) {
        mainData.push([countryData[i][0], countryData[i][1]]);
     }

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable(mainData);
        var options = {};
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
<div class="main">
    <div class="navbar">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="http://localhost:8088/portfolio-html">Portfolio</a></li>
                    <li><a href="http://localhost:8088/trades-html">Trades</a></li>
                    <li><a href="http://localhost:8088/dividends-html">Dividends</a></li>
                    <li><a href="http://localhost:8088/currency-html">Currency</a></li>
                    <li><a href="#seccion-5">Trends</a></li>
                    <li><a href="#seccion-6">Crypto</a></li>
                </ul>
            </nav>
            <div class="gap-20"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="gap-60"></div>
    <div class="gap-40"></div>

    <div id="chart">

        <div style="width:180px; border: none;"></div>
        <div id="currency_chart" style="width: 700px; height: 450px;"></div>
    </div>
    <div class="gap-60"></div>
    <div class="gap-40"></div>
</div>


</body>
</html>