<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dividendos</title>
    <style>
    table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h1>Dividends</h1>
<table style="width:100%">
    <thead>
    <tr>
        <th> Brute </th>
        <th> 2018 </th>
        <th> 2019 </th>
        <th> 2020 </th>
        <th> 2021 </th>
        <th> 2022 </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${transactions.empty}">
        <td colspan="2"> No Transactions Available </td>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td><span> January </span></td>
        <td><span th:text="${transaction.reference}"> Author </span></td>
        <td><span th:text="${transaction.reference}"> Author1 </span></td>
        <td><span th:text="${transaction.reference}"> Author2 </span></td>
        <td><span th:text="${transaction.reference}"> Author3 </span></td>
        <td><span th:text="${transaction.reference}"> Author4 </span></td>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td><span> February </span></td>
        <td><span th:text="${transaction.reference}"> Author </span></td>
        <td><span th:text="${transaction.reference}"> Author1 </span></td>
        <td><span th:text="${transaction.reference}"> Author2 </span></td>
        <td><span th:text="${transaction.reference}"> Author3 </span></td>
        <td><span th:text="${transaction.reference}"> Author4 </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
