<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dividendos</title>
    <style>
    table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h1>Dividends</h1>
<table>
    <tr>
        <th> Brute </th>
        <th> 2018 </th>
        <th> 2019 </th>
        <th> 2020 </th>
        <th> 2021 </th>
        <th> 2022 </th>
    </tr>
    <tr th:each="dividend : ${dividends}">
        <td th:text=January></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${dividend.amount}"></td>
        <td th:text="${dividend.amount}"></td>
        <td th:text="${dividend.amount}"></td>
        <td th:text="${dividend.amount}"></td>
    </tr>
    </table>
</body>
</html>


