<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dividendos</title>
    <style>
#brute_dividend_table, #dividend_history_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#brute_dividend_table td, #dividend_history_table td , #brute_dividend_table th, #dividend_history_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#brute_dividend_table tr:nth-child(even){background-color: #f2f2f2;}
#dividend_history_table tr:nth-child(even){background-color: #f2f2f2;}

#brute_dividend_table tr:hover {background-color: #ddd;}
#dividend_history_table tr:hover {background-color: #ddd;}

#brute_dividend_table th, #dividend_history_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

    </style>
</head>
<body>
<h1>Dividends</h1>
<table id="brute_dividend_table">
    <tr>
        <th> Brute</th>
        <th> 2018</th>
        <th> 2019</th>
        <th> 2020</th>
        <th> 2021</th>
        <th> 2022</th>
    </tr>
    <tr>
        <td th:text=January></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=February></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=March></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=April></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=May></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=June></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=July></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=August></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=September></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=October></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=November></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=December></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>
    <tr>
        <td th:text=Total></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
        <td th:text="${total_dividends}"></td>
    </tr>

    <!--    <tr th:each="dividend : ${dividends}">
            <td th:text=January></td>
            <td th:text="${total_dividends}"></td>
            <td th:text="${dividend.amount}"></td>
            <td th:text="${dividend.amount}"></td>
            <td th:text="${dividend.amount}"></td>
            <td th:text="${dividend.amount}"></td>
        </tr>-->
</table>


<table id="dividend_history_table">
    <tr>
        <th> Company</th>
        <th> Brute Amount</th>
        <th> Brute Amount €</th>
        <th> Nett Amount</th>
        <th> Nett Amount €</th>
        <th> Date</th>
        <th> Month</th>
        <th> Year</th>
        <th> Currency</th>
        <th> Rate</th>
    </tr>
    <tr th:each="dividend : ${dividends}">
        <td th:text="${dividend.companyName}"></td>
        <td th:text="${dividend.amount}"></td>
        <td th:text="${dividend.amount * dividend.rate}"></td>
        <td th:text="${dividend.amount - dividend.tax}"></td>
        <td th:text="${(dividend.amount - dividend.tax) * dividend.rate}"></td>
        <td th:text="${dividend.paymentDate}"></td>
        <td th:text="${dividend.month}"></td>
        <td th:text="${dividend.year}"></td>
        <td th:text="${dividend.currency}"></td>
        <td th:text="${dividend.rate}"></td>
    </tr>
</table>


</body>
</html>


this.paymentDate = paymentDate;
this.companyName = companyName;
this.amount = amount;
this.tax = tax;
this.currency = currency;
this.rate = rate;
this.activityCode = activityCode;