<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dividends</title>
  <link th:href="@{/style.css}" rel="stylesheet">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Dividends'],
          ['2014', 1000],
          ['2015', 1170],
          ['2016', 660],
          ['2017', 1030]
        ]);

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_dividends'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
</head>
<body>
<div class="main">
  <div class="navbar">
    <div class="menu">
      <nav>
        <ul>
          <li><a href="http://localhost:8088/portfolio-html">Portfolio</a></li>
          <li><a href="http://localhost:8088/trades-html">Trades</a></li>
          <li><a href="http://localhost:8088/dividends-html">Dividends</a></li>
          <li><a href="#seccion-5">Forex</a></li>
        </ul>
      </nav>
      <div class="gap-20"></div>
    </div>
  </div>
</div>
<div class="content">
  <div class="gap-60"></div>
  <div class="gap-40"></div>
  <div id="chart">
    <table id="brute_dividend_table">
      <tr>
        <th> Brute</th>
        <th> 2018</th>
        <th> 2019</th>
        <th> 2020</th>
        <th> 2021</th>
        <th> 2022</th>
        <th> 2023</th>
      </tr>
      <tr>
        <td th:text=January></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['January'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['January'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['January'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['January'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['January'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['January'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=February></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['February'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['February'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['February'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['February'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['February'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['February'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=March></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['March'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['March'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['March'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['March'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['March'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['March'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=April></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['April'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['April'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['April'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['April'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['April'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['April'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=May></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['May'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['May'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['May'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['May'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['May'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['May'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=June></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['June'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['June'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['June'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['June'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['June'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['June'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=July></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['July'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['July'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['July'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['July'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['July'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['July'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=August></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['August'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['August'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['August'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['August'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['August'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['August'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=September></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['September'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['September'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['September'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['September'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['September'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['September'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=October></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['October'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['October'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['October'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['October'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['October'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['October'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=November></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['November'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['November'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['November'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['November'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['November'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['November'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr>
        <td th:text=December></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2018['December'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2019['December'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2020['December'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2021['December'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2022['December'], 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(mapOfDividends2023['December'], 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      <tr class="total_row">
        <td th:text=TOTAL></td>
        <td th:text="${#numbers.formatDecimal(dividends2018, 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(dividends2019, 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(dividends2020, 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(dividends2021, 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(dividends2022, 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(dividends2023, 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
    </table>
    <div id="columnchart_dividends" style="width: 600px; height: 300px;"></div>
  </div>
  <div class="gap-60"></div>
  <table id="dividend_history_table">
    <tr>
      <th> Company</th>
      <th> Brute Amount</th>
      <th> Brute Amount €</th>
      <th> Nett Amount</th>
      <th> Nett Amount €</th>
      <th> Date</th>
      <th> Month</th>
      <th> Year</th>
      <th> Currency</th>
      <th> Rate</th>
    </tr>
    <tr th:each="dividend : ${dividends}">
      <td th:text="${dividend.companyName}"></td>
      <td th:text="${dividend.amount}"></td>
      <td th:text="${#numbers.formatDecimal((dividend.amount * dividend.rate), 0, 'COMMA', 2, 'POINT')}"></td>
      <td th:text="${dividend.amount - dividend.tax}"></td>
      <td th:text="${#numbers.formatDecimal((dividend.amount - dividend.tax) * dividend.rate, 0, 'COMMA', 2, 'POINT')}"></td>
      <td th:text="${dividend.paymentDate}"></td>
      <td th:text="${dividend.month}"></td>
      <td th:text="${dividend.year}"></td>
      <td th:text="${dividend.currency}"></td>
      <td th:text="${dividend.rate}"></td>
    </tr>
  </table>
  <div class="gap-60"></div>
  <div class="gap-40"></div>
</div>


</body>
</html>