<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<div class="main">
  <div class="navbar">
    <div class="menu">
      <nav>
        <ul>
          <li><a href="http://localhost:8088/portfolio-html">Portfolio</a></li>
          <li><a href="http://localhost:8088/trades-html">Trades</a></li>
          <li><a href="http://localhost:8088/dividends-html">Dividends</a></li>
          <li><a href="#seccion-5">Currency</a></li>
          <li><a href="#seccion-5">Trends</a></li>
        </ul>
      </nav>
      <div class="gap-20"></div>
    </div>
  </div>
</div>
<div class="content">
  <div class="gap-60"></div>
  <div class="gap-40"></div>

  <table id="portfolio_table">
    <tr>
      <th> Company Name</th>
      <th> Symbol</th>
      <th> Quantity</th>
      <th> Open Price</th>
      <th> Market Price</th>
      <th> Dif %</th>
      <th> Open Value $€</th>
      <th> Market Value $€</th>
      <th> Dif Value</th>
      <th> Value €</th>
      <th> Currency</th>
    </tr>
    <tr th:each="item : ${portfolio}">
      <td th:text="${item.companyName}"></td>
      <td th:text="${item.symbol}"></td>
      <td th:text="${item.quantity}"></td>
      <td th:text="${#numbers.formatDecimal((item.priceOriginalCurrency), 0, 'COMMA', 2, 'POINT') + ' ' + item.currency}"></td>
      <td th:text="${item.currentPriceOriginalCurrency}"></td>
      <td th:text="${#numbers.formatDecimal((100 * (item.currentPriceOriginalCurrency - item.priceOriginalCurrency) / item.priceOriginalCurrency), 0, 2, 'POINT')}"></td>
      <td th:text="${item.valueOriginalCurrency}"></td>
      <td th:text="${item.currentPriceOriginalCurrency * item.quantity}"></td>
      <td th:text="${#numbers.formatDecimal(((item.currentPriceOriginalCurrency * item.quantity) - item.valueOriginalCurrency), 0, 2, 'POINT')}"></td>
      <td th:text="${#numbers.formatDecimal((item.valueBaseCurrency), 0, 'COMMA', 2, 'POINT')}"></td>
      <td th:text="${item.currency}"></td>
    </tr>
  </table>
  <div class="gap-60"></div>
  <div class="gap-40"></div>
</div>


</body>
</html>